<!DOCTYPE html>
<html lang="en">
<head>
  <title>Header</title>
</head>
<body>


  <% if(users){ %>
    <h1>Welcome! &ensp; <%= users %></h1>
    <form action="/logout" method="POST" >
      <input type="submit" value="Logout">
    </form>
  <% } else{ %>
    <h1>Welcome!</h1>
    <a href= "/register"><font size="5">register</font></a>
    &ensp;
    <a href= "/login"><font size="5">login</font></a>
  <% } %>


</body>
</html>