<!DOCTYPE html>
<html lang="en">
<head>
  <title>Header</title>
</head>
<body>


  <% if(users){ %>
    <h1>Welcome!</h1>
    <p><b>User: <%= userEmail %></b></p>
    <form action="/" method="GET" >
      <input type="submit" value="Home">
    </form><br>
    <form action="/logout" method="POST" >
      <input type="submit" value="Logout">
    </form><br>
  <% } else{ %>
    <h1>Welcome!</h1>
    <a href= "/register"><font size="5">Register</font></a>
    &ensp;
    <a href= "/login"><font size="5">Login</font></a>
  <% } %>


</body>
</html>