<!DOCTYPE html>
<html lang="en">
<head>
  <title>Header</title>
</head>
<body>

  <% if(username){ %>
    <h1><%= username %></h1>
    <form action="/logout" method="POST" >
      <input type="submit" value="Logout">
    </form>
  <% } else{ %>
    <h1>log in:</h1>
    <form action="/urls/form" method="POST" style="margin:0px;">
      <label for="userName">Enter User Name:</label>
      <input id="userName" type="text" name="userName" placeholder="Username" style="width: 150px">
      <input type="submit" value="Log in">
    </form>
  <% } %>


</body>
</html>