<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>

  <body>
    <h1>Registration:</h1>
    <form action="/register" method="POST">

      <label for="useremail">Name:</label>
      <input id="useremail" type="email" name="email" placeholder="email" style="width: 300px">
      <br><br>
      <label for="userpassword">Password:</label>
      <input id="userpassword" type="password" name="password" placeholder="password" style="width: 300px">
      <br><br>
      <input type="submit" value="Submit">

    </form>

  </body>
</html>